TempImages
Output
TempContours
TempImages (English - V6)
TempImagesv4
english_outputv6.csv
houghlinestest.py
imageextractortest.py
MainV4test.py
MainV7Math.py
ocrmypdftest.py
verticallineremover.py
testregex.py
output.csv
OutputDocuments4
Sample Resources
images
contour_img
